<div class='panel panel-default'>
  <div class='panel-heading'>
    Options
  </div>
  <div class='panel-body'>
    <ul class='list-group'>
      <li class='list-group-item' id='hotel-list'>
        Hotels
        <br />
        <select style='width: 80%' class='form-control input-sm pull-left'>
        </select>
        <button class='btn btn-primary btn-sm pull-right'>+</button>
        <br clear='all' />
      </li>

      <li class='list-group-item' id='restaurants-list'>
        Restaurants
        <br />
        <select style='width: 80%' class='form-control input-sm pull-left'>

        </select>
        <button class='btn btn-primary btn-sm pull-right'>+</button>
        <br clear='all' />
      </li>

      <li class='list-group-item' id="activities-list">
        Activities
        <br />
        <select style='width: 80%' class='form-control input-sm pull-left'>

        </select>
        <button class='btn btn-primary btn-sm pull-right'>+</button>
        <br clear='all' />
      </li>
    </ul>

  </div>
</div>
